services:
  analytics-service:
    image: analytics-service:latest
    build:
      context: .
      dockerfile: Dockerfile
    container_name: analytics-service
    ports:
      - "4002:4002"
    networks:
      - internal
    environment:
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

networks:
  internal:
    external: true
